.footer {
    width: 100%;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    padding-top: -50px;
}

.logo-footer {
    width: 18.875rem;
    height: 3rem;
}

.logo-footer>img {
    width: 100%;
    height: 100%;
}

/* .info-grid {
    width: 100%;
    height: 15.25rem;
    display: grid;
    grid-template-rows: 3rem 0.75rem 2.25rem 0.75rem;
    place-items: center;
} */

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.25rem;
    column-gap: 1.25rem;
    margin: 1.88rem 0;
}

.p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.p:first-of-type {
    margin-top: 0.5rem;
}

/* tablets */
@media (430px < width <=820px) {
    .footer {
        height: 8.8125rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1.25rem;
    }

    .logo-footer {
        width: 11.8125rem;
        height: 1.875rem;
    }

    .icons-div {
        margin: 0;
    }

    .footer-col {
        height: 3.8125rem;
    }

    .footer-col:first-of-type {
        align-items: flex-start;
    }

    .footer-col:last-of-type {
        justify-content: space-between;
    }

    .p {
        font-size: 0.875rem;
    }

    .p:first-of-type {
        margin-top: 0.9375rem;
    }
}