.guests-container>label,
.address-container>label,
.calendar-arrive>label,
.calendar-departure>label,
.guests-container>label {
    font-size: 0.75rem;
    color: var(--gray-label-color);
}

.address-container>input,
.calendar-arrive>input,
.calendar-departure>input {
    border: none;
    font-size: 0.75rem;
}

.address-container>input:focus,
.calendar-arrive>input:focus,
.calendar-departure>input:focus {
    border: none;
    outline: none;
}

.address-container>input {
    max-width: 7.5625rem;
}

.calendar-arrive>input,
.calendar-departure>input {
    max-width: 6.25rem;
}

.address-container,
.guests-container,
.calendar-arrive,
.calendar-departure {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.12rem;
    border: 1px solid var(--bigger-form-border-color);
}

.calendar-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--bigger-form-column-gap);
}

.submit-button {
    width: 3.78125rem;
    height: 3.78125rem;
    background-color: var(--button-background);
    border: none;
    border-radius: 100%;
    padding: 1.33rem;
}

.icon-fill-div {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--button-hover-background);
}

.submit-button:active {
    cursor: pointer;
    background-color: var(--black-color);
}

.address-container>input::placeholder,
.calendar-arrive>input::placeholder,
.calendar-departure>input::placeholder {
    color: var(--black-color);
    opacity: 1;
}

.address-container>input::-ms-input-placeholder,
.calendar-arrive>input::-ms-input-placeholder,
.calendar-departure>input::-ms-input-placeholder {
    color: var(--black-color);
}

/* laptops, pc */
@media (width > 1280px) {
    .guests-container>label,
    .address-container>label,
    .calendar-arrive>label,
    .calendar-departure>label,
    .guests-container>label {
        font-size: 0.875rem;
    }

    .address-container>input,
    .calendar-arrive>input,
    .calendar-departure>input {
        font-size: 1rem;
        max-width: 10.664rem;
    }
}

/* big laptops, pc */
@media (width > 1400px) {
    .address-container>input,
    .calendar-arrive>input,
    .calendar-departure>input {
        max-width: 12.664rem;
    }
}