.main-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    /* height: 100vh;  */
}

.image-container {
    object-fit: cover;
    z-index: -10;
}

.color-overlay {
    position: relative;
    /*мб и нет*/
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    /* background: rgba(0, 0, 0, 0.6), lightgray 50%; */
}

.children-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-bottom: 50px;
    margin-top: var(--navbar-height);
    padding: 3.75rem 0.94rem 0 0.94rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.75rem;
    overflow: hidden;
}

.text-container {
    width: 100%;
    height: fit-content;
    /* margin: 0 0.94rem; */
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
    justify-content: space-between;
    animation: 1s slide-in ease-out 1;
}

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    30% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

.small-text {
    font-size: 0.75rem;
}

.large-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

/* .mobile-form-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1.875rem 0.9375rem;
    gap: 1.875rem;
    border-radius: 1.25rem;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 11.37rem;
}

.bigger-form-container {
    width: max-content;
    height: 4.375rem;
    display: flex;
    gap: var(--bigger-form-column-gap);
    align-items: center;
    background-color: var(--white-color);
    border-radius: 3.125rem;
    padding: 0.3125rem 0.3125rem 0.3125rem 1.25rem;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
} */


/* tablets */
@media ((435px < width <= 920px) and (orientation: portrait)) {
    .children-container {
        gap: 3.25rem;
    }

    .large-text {
        font-size: 3.75rem;
        line-height: 4.6875rem;
    }

    .children-container {
        padding: 8.75rem 0 0 3.12rem;
        align-items: flex-start;
    }

    .text-container {
        gap: 2.5rem;
    }

    .small-text {
        font-size: 1.125rem;
    }

    .medium-text {
        font-size: 1.5rem;
    }
}

@media (width < 935px) and (orientation: landscape) {
    .text-container {
        gap: 2.5rem;
    }

    .small-text {
        font-size: 1.125rem;
    }

    .medium-text {
        font-size: 1.5rem;
    }

    .large-text {
        font-size: 3.75rem;
        line-height: 4.6875rem;
    }
}

@media (930px < width <= 1020px) and (orientaion: landscape) {
    .children-container {
        gap: 3.25rem;
    }

    .large-text {
        font-size: 3.75rem;
        line-height: 4.6875rem;
    }

    .children-container {
        padding: 8.75rem 0 0 3.12rem;
        align-items: flex-start;
    }

    .text-container {
        gap: 2.5rem;
    }

    .small-text {
        font-size: 1.125rem;
    }

    .medium-text {
        font-size: 1.5rem;
    }
}

/* laptops, pc */
/*улетят ли стили с ориентацией экрана?*/
@media (width > 1020px) {
    .children-container {
        padding: 5.62rem 0 0 7.5rem;
        align-items: flex-start;
    }

    .large-text {
        font-size: 4.375rem;
        line-height: 4.6875rem;
    }

    /* .bigger-form-container {
        padding: 0.3125rem 0.3125rem 0.3125rem 2.5rem;
    } */

    .text-container {
        gap: 2.5rem;
    }

    .small-text {
        font-size: 1.125rem;
    }

    .medium-text {
        font-size: 1.5rem;
    }
}