.guests-container>label,
.address-container>label,
.calendar-arrive>label,
.calendar-departure>label,
.guests-container>label {
    font-size: 0.625rem;
    padding-left: 1.25rem;
    margin-bottom: 0.31rem;
    color: var(--black-color);
}

.address-container>input,
.calendar-arrive>input,
.calendar-departure>input {
    font-size: 0.75rem;
    height: 2.75rem;
    border: 1px solid var(--mobile-form-border-color);
}

.address-container>input {
    width: 100%;
    border-radius: 6.25rem;
    padding-left: 1.25rem;
}

.calendar-arrive>input {
    width: 100%;
    border-top-left-radius: 6.25rem;
    border-bottom-left-radius: 6.25rem;
    padding-left: 1.25rem;
    border-collapse: collapse;
}

.calendar-departure>input {
    width: 100%;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    padding-left: 1.25rem;
    border-collapse: collapse;
}

.address-container,
.guests-container,
.calendar-arrive,
.calendar-departure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.calendar-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.submit-button {
    width: 100%;
    height: 2.75rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.00875rem;
    color: var(--white-color);
    background-color: var(--button-background);
    border: none;
    border-radius: 6.25rem;
}

.submit-button-span {
    padding-left: 0.5rem;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--button-hover-background);
}

.submit-button:active {
    cursor: pointer;
    background-color: var(--black-color);
}


.address-container>input::placeholder,
.calendar-arrive>input::placeholder,
.calendar-departure>input::placeholder {
    color: var(--black-color);
    opacity: 1;
}

.address-container>input::-ms-input-placeholder,
.calendar-arrive>input::-ms-input-placeholder,
.calendar-departure>input::-ms-input-placeholder {
    color: var(--black-color);
}