.footer {
    width: 100%;
    /* height: 15.25rem; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    margin-top: -50px;
    padding: 1.875rem 0 1.875rem 0;
}

.item {
    width: 90%;
    overflow: visible;
    stroke: #000000;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.container {
    width: 30px;
    height: 30px;
    display: flex;
    place-content: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 30px; */
}

.logo-footer {
    width: 18.875rem;
    height: 3rem;
}

.logo-footer>img {
    width: 100%;
    height: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.25rem;
    column-gap: 1.25rem;
    margin: 1.88rem 0;
}

.p,
.a {
    font-size: 0.75rem;
    line-height: 1rem;
}

.p {
    margin-top: 0.5rem;
}

.a {
    color: var(--footer-link-color);
    text-decoration: none;
}

/* tablets */
@media (435px < width <=1024px) and (orientation: portrait) {
    .footer {
        /* height: 8.8125rem; */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.5rem 1.25rem;
    }

    .footer-col {
        height: 3.8125rem;
    }

    .logo-footer {
        width: 11.8125rem;
        height: 1.875rem;
    }

    .icons-div {
        margin: 0;
    }

    .p {
        margin-top: 0;
    }

    .footer-col:first-of-type {
        align-items: flex-start;
        justify-content: center;
        gap: 0.9375rem;
    }

    .footer-col:last-of-type {
        justify-content: space-between;
    }

    .p,
    .a {
        font-size: 0.875rem;
    }
}

@media (930px < width <=1180px) and (orientation: landscape) {
    .footer {
        /* height: 8.8125rem; */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.5rem 1.25rem;
    }

    .footer-col {
        height: 3.8125rem;
    }

    .logo-footer {
        width: 11.8125rem;
        height: 1.875rem;
    }

    .icons-div {
        margin: 0;
    }

    .p {
        margin-top: 0;
    }

    .footer-col:first-of-type {
        align-items: flex-start;
        justify-content: center;
        gap: 0.9375rem;
    }

    .footer-col:last-of-type {
        justify-content: space-between;
    }

    .p,
    .a {
        font-size: 0.875rem;
    }
}

/* laptops, pc */
@media (width > 1180px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.5rem 2.5rem;
    }

    .footer-col {
        height: 4.6875rem;
    }

    .logo-footer {
        width: 11.8125rem;
        height: 1.875rem;
    }

    .icons-div {
        margin: 0;
    }

    .p {
        margin-top: 0;
    }

    .footer-col:first-of-type {
        align-items: flex-start;
        justify-content: center;
        gap: 0.9375rem;
    }

    .footer-col:last-of-type {
        justify-content: space-between;
    }

    .p,
    .a {
        font-size: 0.875rem;
    }
}